numpy==1.26.4
torch==2.6.0
torchvision==0.21.0
jupyterlab==3.6.1
notebook==6.5.7
transformers==4.57.6
ImageHash==4.3.2
matplotlib==3.6.3
opencv-python==4.11.0.86
pandas==1.5.3
pillow==10.2.0
pyarrow==10.0.1
scikit-image==0.25.2
scikit-learn==1.7.2
scikit-network==0.33.5
seaborn==0.12.2
tqdm==4.67.1
umap-learn==0.5.11
